# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.agent/*
.agent

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*
